/* #region Общие стили */
/* Open Sans */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
/* .open-sans-<uniquifier> {
    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
    "wdth" 100;
} */

/* Bebas Neue */
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
/* .bebas-neue-regular {
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    font-style: normal;
} */

:root {
    --font-family: "Open Sans", sans-serif;
    --second-family: "Bebas Neue", sans-serif;
}

html {
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-family: var(--font-family);
}

.container-1440 {
    max-width: 1440px;
    margin: 0 auto;
}

.container-940 {
    max-width: 940px;
    width: 100%;
    margin: 0 auto;
}

/* #endregion Общие стили */

/* #region Раздел "Header */

.header-main {
    height: 768px;
    padding-top: 41px;
    /* padding-bottom: 71; */

    /* фон: */
    background-image: url(../img/header-bg.png);
    background-size: cover;
    background-position: center;
    /* Если картинка не загрузится, то вместо неё пользователь увидит фоновый цвет. */
    background-color: black;

    /* весь текст внутри: */
    text-align: center;
    color: #fff;
}

/* Белый логотип KONSTRUCT */
.company-logo-white {
    width: 101px;
    height: 23px;
    margin-bottom: 265px;
}

/* Partner with konstuct */
.header__title_h1 {
    font-family: var(--second-family);
    font-weight: 400;
    font-size: 60px;
    letter-spacing: 0.1em;
    margin-bottom: 0px;
    text-transform: uppercase;
    padding-left: 18px;
}

/* An award-winning construction management firm */
.header__title_h4 {
    font-weight: 600;
    font-size: 16px;
    text-align: center;
    color: #fff;
    margin-top: 0;
    margin-bottom: 225px;

}

/* Scroll down */
.header__title_h3 {
    text-transform: uppercase;
    font-weight: 600;
    font-size: 11px;
    letter-spacing: 0.34em;
}

/* #endregion  Раздел "Header */

/* #region Раздел Navbar */

/* .navigation {} */

.navigation__block {
    display: flex;
    height: 65px;
    align-items: center;
    justify-content: space-between;
    padding: 0 250px;
}

.company-logo-black {
    width: 79px;
    height: 18px;
}

.nav {}

.nav__link {
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 600;
    font-size: 12px;
    letter-spacing: 0.09em;
    text-align: center;
    color: #48555b;
}

.link1 {
    margin-right: 44px;
}

.link2 {
    margin-right: 38px;
}

.link3 {
    margin-right: 35px;
}

.link4 {
    margin-right: 24px;
}

.link5 {}

.nav__link--active {}

/* #endregion Navigation */

/* #region Раздел "Our Story" */


.story {
    padding: 50px 0;
}

.story_left {
    max-width: 400px;
    margin-right: 50px;
}

.story_title_2 {
    letter-spacing: 0.2em;
    color: #48555B;
    text-transform: uppercase;
    text-align: center;
    font-weight: bold;
    font-size: 18px;
    padding-top: 9px;
    margin-top: 0;
    margin-bottom: 34px;
    letter-spacing: 0.13em;
}

.story_title_2:after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    margin: 12px auto 0;
}

.story_inner {
    display: flex;
    justify-content: space-between;
}

.story_title_3 {
    color: #48555B;
    font-weight: 700;
    font-size: 20px;
    letter-spacing: 0.01em;
    line-height: 1.3em;

}

.accent-color {
    color: #00A4E5;
}

.story_text {
    padding-top: 13px;
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
    margin-bottom: 2px;
}

.story_right {
    display: flex;
    align-items: flex-end;
}

.story_item {
    padding: 15px;
    font-size: 24px;
    color: #fff;
    font-weight: 800;
    text-transform: uppercase;
    width: 140px;
    height: 224px;
    margin-right: 20px;
    background-size: cover;
}

.story_item:nth-child(1) {
    background-image: url(../img/we_plan.png);
}

.story_item:nth-child(2) {
    background-image: url(../img/we_manage.png);
}

.story_item:nth-child(3) {
    background-image: url(../img/we_build.png);
    margin-right: 0px;
}

/* Адаптивная версия - медиа запросы */
@media screen and (max-width: 1440px) {
    .story_container {
        padding: 0 50px;
    }
}

@media screen and (max-width: 1024px) {
    .story_container {
        padding: 0 15px;
    }

    .story_title_3 {
        text-align: center;
    }

    .story_inner {
        flex-wrap: wrap;
    }

    .story_left {
        max-width: 80%;
        margin-right: 0px;
        margin-bottom: 20px;
    }
}

@media screen and (max-width: 540px) {
    .story_right {
        flex-wrap: wrap;
        justify-content: center;
    }

    .story_item {
        margin-bottom: 20px;
        margin-right: 0;
        width: 51%;
        height: 350px;
    }

    .story_item:nth-child(3) {
        margin-bottom: 0px;
    }

    .story_left {
        max-width: 100%;
    }
}

@media screen and (max-width: 360px) {
    .story_item {
        width: 80%;
    }
}

/* #endregion Раздел "Our Story" */

/* #region Раздел "Services" */
.services {
    margin-bottom: 115px;
}

.services-content {
    padding-top: 68px;
}

.services-top {
    display: grid;
    grid-template-columns: 353px 437px 150px;
    margin-bottom: 65px;
}

.services-top__title-h2 {
    font-weight: 700;
    font-size: 18px;
    letter-spacing: 0.13em;
    color: #48555b;
    text-transform: uppercase;
    margin-top: 1px;
}

.services-top__title-h2:after {
    content: '';
    width: 50px;
    height: 2px;
    background-color: #00A4E5;
    display: block;
    margin-top: 13px;
}

.services-top__text {
    font-weight: 400;
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.02em;
    color: #48555b;
    margin-top: 0;
    padding-right: 40px;
}

.services-top__link {
    display: block;
    width: 150px;
    height: 40px;
    background-color: #00A4E5;
    text-align: center;
    line-height: 40px;

    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
    text-align: center;
    color: #fff;
    text-transform: uppercase;
}

.services-bottom {
    display: flex;
    justify-content: space-between;
}

.services-bottom-item {
    max-width: 295px;
    height: 330px;
    padding-top: 37px;
    border: 1px solid #E6E6E6;
    padding-left: 22px;
    padding-right: 20px;
}

.services-bottom-item__icon {
    margin-bottom: 5px;
}

.services-bottom-item__title-h3 {
    font-weight: 700;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.03em;
    color: #48555b;
    text-transform: uppercase;
}

.services-bottom-item__text {
    font-weight: 400;
    font-size: 13px;
    line-height: 177%;
    letter-spacing: 0.01em;
    color: #48555b;
}

/* #endregion Раздел "Services" */

/* #region Раздел "get-in-touch */
/* .get-in-touch {} */

.get-in-touch-content {
    text-align: center;
    background-image: url(../img/get-in-touch-bg.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-color: black;
    height: 499px;
    padding-top: 96px;

}

.get-in-touch-content__title-h2 {
    font-weight: 700;
    font-size: 30px;
    line-height: 120%;
    letter-spacing: 0.01em;
    color: #48555b;
    margin-bottom: 34px;
}

.get-in-touch-content__link {
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
    color: #fff;
    display: block;
    width: 150px;
    height: 40px;
    margin: 0 auto;
    background-color: #00A4E5;
    text-align: center;
    line-height: 40px;
    text-transform: uppercase;
}

/* #endregion Раздел "get-in-touch */

/* #region Раздел "Newsletter" */
/* .newsletter {} */

.newsletter-content {
    background-color: #171819;
}

.newsletter-content-form {
    display: flex;
    padding: 30px;
    justify-content: center;
}

.newsletter-content-form__label-for-input-user-mail {
    color: #fff;
    margin-right: 70px;
    line-height: 40px;
    font-weight: 700;
    font-size: 22px;
    letter-spacing: 0.04em;
    color: #fff;

}

.newsletter-content-form__input-user-mail {
    height: 40px;
    width: 250px;
    border: none;
    margin: 0;
    padding-left: 16px;
    padding-right: 16px;
    font-weight: 400;
    font-size: 14px;
    letter-spacing: 0.01em;
    color: #48555b;
}

.newsletter-content-form__submit {
    background-color: #00A4E5;
    height: 40px;
    width: 150px;
    border: none;
    margin: 0;
    padding: 0;
    cursor: pointer;
    font-weight: 700;
    font-size: 13px;
    letter-spacing: 0.04em;
    color: #fff;
    text-transform: uppercase;
}

/* #endregion Раздел "Newsletter" */

/* #region Footer */
/* .footer {} */

.footer-content {
    background-color: #141A20;
}

.footer-content__main-row {
    display: flex;
    color: #fff;
    padding-top: 42px;
    gap: 20px;
    min-height: 240px;
}

.item-company {
    max-width: 250px;
    margin-right: 50px;
}

.item__h3-title {
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.08em;
    text-transform: uppercase;
}

.item_h3-company {
    margin-top: 0;
    margin-bottom: 19px;
}

.item__logo-white {
    width: 101px;
    height: 23px;
}

.item__text {
    font-weight: 400;
    font-size: 11px;
    line-height: 173%;
    letter-spacing: 0.08em;
    color: #fff;
}

.item_h3-links {
    margin-bottom: 11px;
}

.item__grid-of-links {
    display: grid;
    grid-template-columns: 110px 91px 100px;
}

.column {
    display: flex;
    flex-direction: column;
}

.grid-of-links__column-link {
    text-decoration: none;
    font-weight: 600;
    font-size: 11px;
    line-height: 227%;
    letter-spacing: 0.08em;
    color: #fff;
    text-transform: uppercase;
}

.item-contact-us {
    display: flex;
    flex-direction: column;
    max-width: 130px;
    margin-right: 46px;
}

.item_contact-us {
    margin-top: 0;
    margin-bottom: 15px;
}

.item-contact-us a {
    text-decoration: none;
    color: #fff;
    font-weight: 400;
    font-size: 11px;
    line-height: 145%;
    letter-spacing: 0.08em;
}

.item-contact-us__map {
    margin-bottom: 16px;
}

.item-contact-us__tel {
    margin-bottom: 16px;
}

.item-contact-us__email {}

.item-socials {
    display: flex;
    align-self: flex-start;
    gap: 24px;
    padding-top: 28px;
    padding-left: 1px;
}

.footer__icon {

}

.footer-content__bottom {
    background-color: #171819;
    text-align: center;
}

.copyright {
    color: #fff;
    font-weight: 400;
    font-size: 11px;
    letter-spacing: 0.08em;
    margin: 0;
    padding-top: 21px;
    padding-left: 12px;
    padding-bottom: 23px;
}

/* #endregion Footer */